<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descrizioneProtocollo</key>
	<string>Percorso di valutazione del dolore toracico Chest Pain Score</string>
	<key>valoriOpzioniProtocollo</key>
	<array>
		<dict>
			<key>dettaglioOpzione</key>
			<string>Localizzazione del dolore</string>
			<key>nomeOpzione</key>
			<string>Localizzazione</string>
			<key>valoriParametriOpzione</key>
			<array>
				<dict>
					<key>dettaglioParametro</key>
					<string>3</string>
					<key>nomeParametro</key>
					<string>Retrosternale</string>
					<key>valoreParametro</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>dettaglioParametro</key>
					<string>3</string>
					<key>nomeParametro</key>
					<string>Precordiale</string>
					<key>valoreParametro</key>
					<string>3</string>
				</dict>
				<dict>
					<key>dettaglioParametro</key>
					<string>2</string>
					<key>nomeParametro</key>
					<string>Emitorace sinistro</string>
					<key>valoreParametro</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>dettaglioParametro</key>
					<string>2</string>
					<key>nomeParametro</key>
					<string>Collo</string>
					<key>valoreParametro</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>dettaglioParametro</key>
					<string>2</string>
					<key>nomeParametro</key>
					<string>Mandibola</string>
					<key>valoreParametro</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>dettaglioParametro</key>
					<string>2</string>
					<key>nomeParametro</key>
					<string>Epigastrico</string>
					<key>valoreParametro</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>dettaglioParametro</key>
					<string>-1</string>
					<key>nomeParametro</key>
					<string>Apex</string>
					<key>valoreParametro</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>dettaglioParametro</key>
					<string></string>
					<key>nomeParametro</key>
					<string>Nessuna</string>
					<key>valoreParametro</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>dettaglioOpzione</key>
			<string></string>
			<key>nomeOpzione</key>
			<string>Caratteristiche</string>
			<key>valoriParametriOpzione</key>
			<array>
				<dict>
					<key>dettaglioParametro</key>
					<string>3</string>
					<key>nomeParametro</key>
					<string>Oppressivo</string>
					<key>valoreParametro</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>dettaglioParametro</key>
					<string>3</string>
					<key>nomeParametro</key>
					<string>Strappamento</string>
					<key>valoreParametro</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>dettaglioParametro</key>
					<string>3</string>
					<key>nomeParametro</key>
					<string>Morsa</string>
					<key>valoreParametro</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>dettaglioParametro</key>
					<string>2</string>
					<key>nomeParametro</key>
					<string>Pesantezza</string>
					<key>valoreParametro</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>dettaglioParametro</key>
					<string>2</string>
					<key>nomeParametro</key>
					<string>Restringimento</string>
					<key>valoreParametro</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>dettaglioParametro</key>
					<string>-1</string>
					<key>nomeParametro</key>
					<string>Puntorio</string>
					<key>valoreParametro</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>dettaglioParametro</key>
					<string>-1</string>
					<key>nomeParametro</key>
					<string>Pleuritico</string>
					<key>valoreParametro</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>dettaglioParametro</key>
					<string>-1</string>
					<key>nomeParametro</key>
					<string>Pinzettante</string>
					<key>valoreParametro</key>
					<integer>-1</integer>
				</dict>
				<dict>
					<key>dettaglioParametro</key>
					<string></string>
					<key>nomeParametro</key>
					<string>Nessuno</string>
					<key>valoreParametro</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>dettaglioOpzione</key>
			<string></string>
			<key>nomeOpzione</key>
			<string>Irradiazione</string>
			<key>valoriParametriOpzione</key>
			<array>
				<dict>
					<key>dettaglioParametro</key>
					<string>1</string>
					<key>nomeParametro</key>
					<string>Braccia</string>
					<key>valoreParametro</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>dettaglioParametro</key>
					<string>1</string>
					<key>nomeParametro</key>
					<string>Spalla</string>
					<key>valoreParametro</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>dettaglioParametro</key>
					<string>1</string>
					<key>nomeParametro</key>
					<string>Posteriore</string>
					<key>valoreParametro</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>dettaglioParametro</key>
					<string>1</string>
					<key>nomeParametro</key>
					<string>Collo</string>
					<key>valoreParametro</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>dettaglioParametro</key>
					<string>1</string>
					<key>nomeParametro</key>
					<string>Mandibola</string>
					<key>valoreParametro</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>dettaglioParametro</key>
					<string></string>
					<key>nomeParametro</key>
					<string>Nessuna</string>
					<key>valoreParametro</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>dettaglioOpzione</key>
			<string></string>
			<key>nomeOpzione</key>
			<string>Sintomi associati</string>
			<key>valoriParametriOpzione</key>
			<array>
				<dict>
					<key>dettaglioParametro</key>
					<string>2</string>
					<key>nomeParametro</key>
					<string>Dispnea</string>
					<key>valoreParametro</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>dettaglioParametro</key>
					<string>2</string>
					<key>nomeParametro</key>
					<string>Nausea</string>
					<key>valoreParametro</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>dettaglioParametro</key>
					<string>2</string>
					<key>nomeParametro</key>
					<string>Sudorazione</string>
					<key>valoreParametro</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>dettaglioParametro</key>
					<string></string>
					<key>nomeParametro</key>
					<string>Nessuno</string>
					<key>valoreParametro</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
